$backgroundColor: #546E7A;
$backgroundColorSecondary: #EEEEEE;
$primaryFontFamily: 'Roboto', sans-serif;
$leftColumnSize: 35%;
$leftColumnColor: #E0E0E0;
$rightColumnColor: #FAFAFA;


@font-face{
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-family: $primaryFontFamily;
  background: linear-gradient(left, $leftColumnColor, $leftColumnColor $leftColumnSize, $rightColumnColor $leftColumnSize, $rightColumnColor);
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
}

.photo{
  margin-top: -3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  &-container{
    border-width: 3px;
    border-style: solid;
    width: 350px;
    height: 350px;
    background-image: url("../photo.jpg");
    background-size: 350px;
    filter: grayscale(1);
    background-position: center;
  }
}

.profile{
  margin-top: 10px;
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .box {
    padding: 30px 40px 30px 40px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    background-color: $backgroundColorSecondary;
    .name{
      font-size: 45px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
    }
    .profession{
      font-size: 30px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.education{
  margin-top: 25px;
  margin-bottom: 25px;
  &-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &-university{
      font-size: 20px;
    }
    &-degree{
      font-size: 14px;
    }
  }
  &-date{
    margin-top: 5px;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    &-start{
      margin-right: 4px;
    }
    &-end{
      margin-left: 4px;
    }
  }
  &-note{
    font-size: 16px;
  }
}

.project{
  margin-top: 25px;
  margin-bottom: 25px;
  &-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &-title{
      font-size: 20px;
    }
    &-type{
      font-size: 14px;
    }
  }
  &-date{
    margin-top: 5px;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    &-start{
      margin-right: 4px;
    }
    &-end{
      margin-left: 4px;
    }
  }
  &-description{
    font-size: 16px;
  }
}

.course{
  margin-top: 25px;
  margin-bottom: 25px;
  &-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &-title{
      font-size: 20px;
    }
    &-source{
      font-size: 14px;
    }
  }
  &-date{
    margin-top: 5px;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    &-start{
      margin-right: 4px;
    }
    &-end{
      margin-left: 4px;
    }
  }
  &-note{
    font-size: 16px;
  }
}


.job{
  &-title{
    font-size: 20px;
  }
  &-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &-description{
    font-size: 16px;
  }
  &-type{
    font-size: 14px;
  }
  &-date{
    margin-top: 5px;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    &-start{
      margin-right: 4px;
    }
    &-end{
      margin-left: 4px;
    }
  }
  &-achievements{
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    &-header{
      font-size: 15px;
      font-weight: bold;
    }
    &-container{
      padding-top: 5px;
      padding-left: 5px;
    }
    &-item{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: baseline;
      &-dot{
        flex-shrink: 0;
        display: inline-block;
        margin-top: 2px;
        padding: 2px;
        margin-right: 5px;
        width: 5px;
        height: 5px;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
      }
    }
  }

  &-team{
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    &-header{
      font-size: 15px;
      font-weight: bold;
    }
    &-container{
      padding-top: 5px;
      padding-left: 5px;
    }
    &-item{
      margin-bottom: 3px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: baseline;
    }
    &-profession{
      font-size: 18px;
    }
    &-number{
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 15px;
      border-style: solid;
      border-width: 2px;
      padding: 2px;
      margin-right: 5px;
    }
  }
  margin-top: 25px;
  margin-bottom: 25px;
}


.columns {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  background: transparent;
}

.text{
  &-bold{
    font-weight: bold;
  }
}

.hidden{
  visibility: hidden;
}

.column-section {
  margin-top: 10px;
  &-link{
    color:black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: underline;
    display: block;
  }
  &-title {
    font-weight: bold;
    letter-spacing:3px;
    font-size: 24px;
    text-transform: uppercase;
    &::after{
      content: '';
      margin-top: 2px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: black;
    }
  }
  &-value{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    &-label{
      display: block;
      font-size: 20px;
    }
    font-size: 20px;
    &-skill{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      &-dot{
        margin-top: 2px;
        padding: 2px;
        margin-right: 5px;
        width: 12px;
        height: 12px;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
        &-fill{
          box-sizing: border-box;
          border-radius: 50%;
          background: black;
          width: 100%;
          height: 100%;
        }
      }

    }
  }
}

.column-left {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  width: $leftColumnSize;
  background: $leftColumnColor;
  flex-shrink: 0;
}

.column-right{
  flex-grow: 1;
  padding: 0 10px 0 10px;
  background: $rightColumnColor;
}
