<html lang="en">
  <head>
    <link rel="stylesheet" href="index.css">
    <meta charset="utf-8">
    <title>CV</title>
  </head>
  <body>
    <div class="header">
      <div class="box">
        <div class="name">{{name.first}} {{name.last}}</div>
        <div class="profession">{{profession}}</div>
      </div>
    </div>
    <div class="column-container">
      <div class="column-left">
        {% include 'photo-section.html' %}
        {% include 'info-section.html' %}
        {% include 'contacts-section.html' %}
        {% include 'languages-section.html' %}
        {% include 'general-skills-section.html' %}
        {% include 'technical-skills-section.html' %}
        {% include 'links-section.html' %}
      </div>
      <div class="column-right">
        {% include 'profile-section.html' %}
        {% include 'employment-history-section.html' %}
        {% include 'education-section.html' %}
        {% include 'courses-section.html' %}
        {% include 'projects-section.html' %}
      </div>
    </div>
    <script type="text/javascript">
      var CM_PIXELS = 37.7952755906;
      function varstr(name,value){
        return name.toUpperCase()+"="+value+"cm\n";
      }
      function showBodySize(){
        var body = document.querySelector("body").getBoundingClientRect();
        var width = Math.ceil(body.width/CM_PIXELS);
        var height = Math.ceil(body.height/CM_PIXELS);
        var content = varstr("width", width) + varstr("height", height);
        console.log(content);
      }
      showBodySize();
    </script>
  </body>
</html>
