{% if education %}
<div class="column-section">
  <div class="column-section-title"> {{loc.education.title}} </div>
  {% for item in education %}
  <div class="education">
    <div class="education-header text-bold">
      <div class="education-header-title">
        {{item.university}}
      </div>
      <div class="education-header-subtitle">
        {{item.degree}}
      </div>
    </div>
    <div class="education-secondary-title text-bold">
      {{item.specialization}}
    </div>
    <div class="education-date text-bold">
      <div class="education-date-start">{{item.date.start.year}}</div>
      -
      <div class="education-date-end">{{item.date.end.year}}</div>
    </div>
    <div class="education-description">{{item.note}}</div>
  </div>
  {% endfor %}
</div>
{% endif %}
