$backgroundColor: #546E7A;
$backgroundColorSecondary: #EEEEEE;
$primaryFontFamily: 'Roboto', sans-serif;
$leftColumnSize: 35%;
$leftColumnColor: #E0E0E0;
$rightColumnColor: #FAFAFA;


$fontSizeName: 45px;
$fontSizeProfession: 30px;

$fontSizeSectionTitle: 24px;

$fontSizeHeaderTitle: 24px;
$fontSizeHeaderSubTitle: 18px;
$fontSizeSecondaryTitle: 20px;
$fontSizeDate: 20px;
$fontSizeDescription: 20px;

$fontSizeLabel: 20px;
$fontSizeValue: 20px;

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
}

@mixin column-left(){
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  width: $leftColumnSize;
  flex-shrink: 0;
}


@mixin column-right(){
  flex-grow: 1;
  padding: 0 10px 0 10px;
}


@mixin column-container(){
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: transparent;
}

.container{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  font-family: $primaryFontFamily;
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 50px 0;
  &-background{
    @include column-container();
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    &-column{
      &-left{
        @include column-left();
        background: $leftColumnColor;
      }
      &-right{
        @include column-right();
        background: $rightColumnColor;
      }
    }

  }
}


.column{
  &-container{
    @include column-container();
  }
  &-left {
    @include column-left();
  }
  &-right{
    @include column-right();
  }
}


.photo{
  margin-top: -3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  &-container{
    border-width: 3px;
    border-style: solid;
    width: 350px !important;
    height: 350px !important;
    background-size: 350px !important;
    filter: grayscale(1) !important;
    background-position: center !important;
  }
}

.profile{
  display: flex;
  font-size: $fontSizeDescription;
  margin-top: 10px;
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .box {
    padding: 30px 40px 30px 40px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    background-color: $backgroundColorSecondary;
    .name{
      font-size: $fontSizeName;
      display: flex;
      flex-flow: row;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;
    }
    .profession{
      font-size: $fontSizeProfession;
      display: flex;
      flex-flow: row;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

@mixin date(){
  &-date{
    margin-top: 5px;
    font-size: $fontSizeDate;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    &-start{
      margin-right: 4px;
    }
    &-end{
      margin-left: 4px;
    }
  }
}

@mixin header(){
  &-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    &-title{
      font-size: $fontSizeHeaderTitle;
    }
    &-subtitle{
      font-size: $fontSizeHeaderSubTitle;
      white-space: nowrap;
    }
  }
}

@mixin secondary-title(){
  &-secondary-title{
    display: flex;
    font-size: $fontSizeSecondaryTitle;
  }
}


@mixin description(){
  &-description{
    display: flex;
    font-size: $fontSizeDescription;
  }
}


@mixin right-column-item-margin(){
  margin-top: 25px;
  margin-bottom: 25px;
}

.education{
  @include right-column-item-margin();
  @include header();
  @include secondary-title();
  @include date();
  @include description();
}

.project{
  @include right-column-item-margin();
  @include header();
  @include secondary-title();
  @include date();
  @include description();
  &-link{
    display: flex;
    font-weight: bold;
    font-size: $fontSizeDescription;
    text-decoration: underline;
    color:black;
  }
}

.course{
  @include right-column-item-margin();
  @include header();
  @include secondary-title();
  @include date();
  @include description();
}


.job{

  @include right-column-item-margin();
  @include header();
  @include secondary-title();
  @include date();
  @include description();

  &-achievements{
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    &-header{
      font-size: $fontSizeDescription;
      font-weight: bold;
    }
    &-container{
      padding-top: 5px;
      padding-left: 5px;
    }
    &-item{
      font-size: $fontSizeDescription;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: baseline;
      &-dot{
        flex-shrink: 0;
        display: inline-block;
        margin-top: 2px;
        padding: 2px;
        margin-right: 5px;
        width: 5px;
        height: 5px;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
      }
    }
  }

  &-team{
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    &-header{
      font-size: $fontSizeDescription;
      font-weight: bold;
    }
    &-container{
      padding-top: 5px;
      padding-left: 5px;
    }
    &-item{
      margin-bottom: 3px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: baseline;
    }
    &-profession{
      display: flex;
      font-size: $fontSizeDescription;
    }
    &-number{
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-weight: bold;
      font-size: $fontSizeDescription;
      border-style: solid;
      border-width: 2px;
      padding: 2px;
      margin-right: 5px;
    }
  }

}




.text{
  &-bold{
    font-weight: bold;
  }
}

.hidden{
  visibility: hidden;
}

.column-section {
  margin-top: 10px;
  &-link{
    color:black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: $fontSizeLabel;
    text-decoration: underline;
    display: block;
  }
  &-title {
    font-weight: bold;
    letter-spacing:3px;
    font-size: $fontSizeSectionTitle;
    text-transform: uppercase;
    &::after{
      content: '';
      margin-top: 2px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: black;
    }
  }
  &-value{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    &-label{
      display: block;
      font-size: $fontSizeLabel;
    }
    font-size: $fontSizeValue;
    &-skill{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      &-dot{
        margin-top: 2px;
        padding: 2px;
        margin-right: 5px;
        width: 12px;
        height: 12px;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
        &-fill{
          box-sizing: border-box;
          border-radius: 50%;
          background: black;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
