{% if projects %}
  <div class="column-section">
    <div class="column-section-title"> {{loc.projects.title}} </div>
    {% for item in projects %}
    <div class="project">
      <div class="project-header text-bold">
        <div class="project-header-title">
          {{item.title}}
        </div>
        <div class="project-header-subtitle">
          {{item.type}}
        </div>
      </div>
      <div class="project-date text-bold">
        <div class="project-date-start">
          {{item.date.start.month}}
          {{item.date.start.year}}
        </div>
        -
        <div class="project-date-end">
          {{item.date.end.month}}
          {{item.date.end.year}}
        </div>
      </div>
      <div class="project-description">
        {{item.description}}
      </div>
      {% if item.link %}
        <a href="{{item.link.value}}" class="project-link">{{item.link.title}}</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}
