<div class="column-section">
  <div class="column-section-title"> EMPLOYMENT HISTORY </div>
  {% for job in jobs %}
    <div class="job">
      <div class="job-header text-bold">
        <div class="job-header-title">
          {{job.title}}
        </div>
        <div class="job-header-type">
          {{job.type}}
        </div>
      </div>
      <div class="job-project text-bold">
        {{job.project}}
      </div>
      <div class="job-date text-bold">
        <div class="job-date-start">
          {{job.date.start.month}} {{job.date.start.year}}
        </div>
        -
        <div class="job-date-end">
          {{job.date.end.month}} {{job.date.end.year}}
        </div>
      </div>
      <div class="job-description">
        {{job.description}}
      </div>
      {% if job.achievements %}
        <div class="job-achievements">
          <div class="job-achievements-header">
            Achievements:
          </div>
          <div class="job-achievements-container">
            {% for item in job.achievements %}
              <div class="job-achievements-item">
                <div class="job-achievements-item-dot"></div>
                {{item}}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if job.team %}
        <div class="job-team">
          <div class="job-team-header">
            Team:
          </div>
          <div class="job-team-container">
            {% for member in job.team %}
              <div class="job-team-item">
                <div class="job-team-number">{{member.number}}</div>
                <div class="job-team-profession">{{member.profession}}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
